*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: #bed8dc;
    font-family: 'Times New Roman', Times, serif;
}
.titulli{
    display: flex;
    justify-content: center;
    margin-top: 50px; 
    margin-bottom: 20px; 
}
.ndertitull{
    text-align: center;
    margin-bottom: 20px;
}
.contactus{
    display: flex;
    justify-content: space-evenly;
}
.contact{
    width: 23%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.contactus .contact img{
    height: 220px;
    width: 250px;
}
.contactus .contact .img2{
    height: 215px;
    width: 250px;
}
.contactus .contact .img3{
    height: 210px;
    width: 300px;
    margin-top: 15px;
}
.info{
    margin-top: 10px;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul:first-child{
   display: inline;
}
@media screen and (max-width: 660px){
    nav .lista {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 10px; /* Hapsira per smaller screens */
    }
    
    .titulli {
        display: flex;
        justify-content: center;
        margin-top: 30px; /* Hapsira per smaller screens */
        margin-bottom: 20px; /* Hapsira per smaller screens */
    }
    .contact {
        width: 100%; /* hapsira maksimale per telefon */
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
    .contactus .contact .img3{
        width: 100%; /* hapsira maksimale per telefon */
        max-width: 300px; /* vendosja e nje limiti per madhesine e fotos */
        height: auto; 
        margin-top: 15px;
    }
    .contactus {
        display: flex;
        flex-wrap: wrap; /* wrap ne screens me te vogla */
        justify-content: center;
    }
    
}