* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
} 

body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.merchendise{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.merch{
    width: 23%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border: 1px solid rgb(80, 0, 121); 
    border-radius: 10px; 
    overflow: hidden; 
    padding: 10px;

}
.img{
    width: 220px;
    height: 250px;
    border-radius: 8px;
}
.merch:hover .img {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* vendos nje hije */
}
.info{
    margin-top: 10px;
}
ul{
    list-style: none;
    padding: 0;
}
.getbutton {
    display: block;
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, rgb(122, 103, 145), rgb(214, 202, 224));
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 25px; 
    cursor: pointer;
    margin: 10px;
    border: none; 
    transition: background 0.3s ease; 
}

.getbutton:hover {
    background: linear-gradient(to right, rgb(122, 103, 145), rgb(214, 202, 224));
}

.getbutton a {
    color: rgb(3, 0, 0);
    text-decoration: none;
}
 @media screen and (max-width:660px){
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: 'Times New Roman', Times, serif;
    }
    .foto1 {
        height: 280px;
        width: 100%;
        background-size: cover; /*e zvogeluar si cover per telefona */
        background-image: url(foto1.jpeg);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    h1 {
        color: rgb(8, 82, 116);
        text-align: center; /* teksti n qender per telefona */
    }

    p {
        color: rgb(92, 90, 90);
        margin: 10px 0;
        text-align: center; /*teksti ne qender per telefona */
    }

    .merchendise {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .merch {
        width: 100%; /* width full per screens me te vogla */
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(200, 200, 200);
        border-radius: 10px;
        overflow: hidden;
        padding: 10px;
    }

    .img {
        width: 100%; /* width full per screens me te vogla */
        height: auto;
        border-radius: 8px;
    }

    .merch:hover .img {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }

    .info {
        margin-top: 10px;
        text-align: center; /*ne qender e vendosur per telefona*/
    }

}  
